.container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  color: var(--text); /* Use global variable */
  text-align: center;
}

.icon {
  color: var(--color-primary); /* Use global variable */
}

.button {
  background: var(--color-primary); /* Use global variable */
  color: white;
  padding: 12px 22px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s ease;
  font-weight: 600;
}

.button:hover {
  opacity: 0.85;
  transform: translateY(-1px);
}

.button:active {
  transform: translateY(1px);
}